#expenses-details {
    margin-bottom: 1rem;
}

/* No special styles for summary */
#expenses-summary {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer; /* This helps visually indicate it's clickable */
}

.dropdown-expenses {
    padding-left: 15px;
    margin-top: 0.5rem;
}
